* {
    box-sizing: border-box;
  } 

  a {
    text-decoration: none;
    color: black;
  }
  
  .nav_links li:hover {
    background-color: lightgray;
  }

  .nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
    border-bottom: 1px solid grey;
  }

  .nav_links li {
    padding: 5px;
  }
  
  body {
    margin: 30px;
    padding: 5px;
    background-color: #F4F2F3;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h3, p, h2 {
      text-align: center;
  }

  .home_buttons {
      text-align: center;
  }

  #add_dog_user, #add_cat_user {
      text-align: center;
  }

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

  #homepage {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
    display: block;
  margin-left: auto;
  margin-right: auto;
 
  }

  ul li {
    list-style-type: none;
  }

  .pet_list, .success_stories {
    padding-right: 40px;
  }

  .pet_li, .success_li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid grey;
    margin: 10px;
    padding: 5px;
  }

  .pet_info, .success_info {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding-left: 40px;
  }

  .adoption_info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toggle_waitlist {
    font-size: 1em;
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid grey;
  }

  .empty {
    margin-top: 70px;
  }

  .adopt_start {
    font-size: 1.5em;
    border: 1px solid grey;
    margin: 20px;
  }

  p {
    margin: 20px;
    font-size: 1.5em;
  }